<%- include("templates/header", { page_title: 'Página de inicio' }) %>

    <h1>Mascotas</h1>

    <div class="container">
        <h1>CRUD con Node y MongoDB</h1>
        <div class="d-grid gap-2">
            <a
                href="/mascotas/crear"
                class="btn btn-success btn-block my-4"
            >
                Agregar mascota
            </a>
        </div>

        <table class="table table-bordered table-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (pets_array.length > 0) { %>
                    <% pets_array.forEach(pet => { %>
                        <tr>
                            <th scope="row"><%= pet.id %></th>
                            <td><%= pet.name %></td>
                            <td><%= pet.description %></td>
                            <td>
                                <a 
                                    href="/mascotas/<%= pet.id %>" 
                                    class="btn btn-warning btn-sm">
                                    Editar
                                </a>
                            </td>
                            <td>
                                <a
                                    href="/mascotas/delete/<%= pet.id %>"
                                    class="btn btn-danger btn-sm"
                                >
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include('templates/footer') %>

    <script>

        const delete_button = document.getElementById('deleteButton');
        
        delete_button.addEventListener('click', async () => {
            console.log('dd')
            const id = delete_button.dataset.id;
            try {
                const data = await fetch(`/mascotas/${id}`, {
                    method: 'delete',
                });
            } catch (error) {
                console.error(error);
            }
        });

    </script>